@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@900&display=swap');

:root {
    color-scheme: dark;
    --navbar-background: rgba(10, 10, 10, 0.62);
    --background-color: rgb(10, 10, 10);
    --primary-text: rgb(255, 255, 255);
    --secondary-text: rgb(124, 124, 124);
    --black-color: rgb(0, 0, 0);
    --button-hover: rgb(45, 45, 46);
    --border-color: rgb(49, 48, 53);
    --link-color: rgb(139, 141, 227);
    --select-background: rgb(102, 102, 102);
    --select-text-color: rgb(50, 50, 50);
    --active-status-color: rgb(164, 65, 44);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

::selection {
    color: var(--select-text-color);
    background: var(--select-background);
}

::-moz-selection {
    color: var(--select-text-color);
    background: var(--select-background);
}

.statusbar-overlay {
    opacity: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    display: flex;
    border-bottom: 1px var(--border-color) solid;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: var(--navbar-background);
    z-index: 3;
}

.logo {
    color: var(--primary-text);
    font-size: 25px;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

.navbar__links li {
    display: inline-block;
    padding: 0 20px;
}

.navbar__links li a,
.navbar__links__fullscreen li a {
    color: var(--primary-text);
    padding: 7px 15px;
    text-decoration: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.navbar__links__fullscreen li a:hover {
    color: var(--secondary-text);
    transition: color 0.3s ease;
}

.navbar__links__fullscreen li a {
    display: flex;
    padding: 0 20px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.navbar__links li a:hover {
    background-color: var(--button-hover);
}

.contact__button button {
    border: none;
    cursor: pointer;
    padding: 7px 15px;
    color: var(--primary-text);
    background-color: var(--black-color);
    border-radius: 12px;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.contact__button button:hover {
    background-color: var(--button-hover);
}

.slider {
    width: 1000px;
    height: 100px;
    position: relative;
    background: var(--background-color);
    display: flex;
    overflow: hidden;
}

.slides {
    height: 100px;
    display: flex;
}

.slides img {
    height: 70px;
    padding: 0 30px;
}

.slider-overlay {
    position: relative;
}

.slider-overlay-image {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    filter: drop-shadow(0px 0px 50px rgba(255, 255, 255, 0.39));
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    z-index: 2;
}

@keyframes slideshow1 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes slideshow2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes slideshow3 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes slideshow4 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.slider::before,
.slider::after {
    height: 100px;
    width: 210px;
    position: absolute;
    content: "";
    background: linear-gradient(to right, var(--background-color) 15%, rgba(255, 255, 255, 0) 80%);
    z-index: 1;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.container {
    padding-top: 100px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 50px;
}

.feature-container {
    width: 540px;
    max-width: 100%;
    margin: 45px;
    padding: 30px 0px;
}

.feature-container span {
    user-select: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    background-clip: text;
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(44, 44, 44));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.feature-container h1 {
    font-weight: 700;
    font-size: 35px;
    color: var(--primary-text);
    padding: 10px 0;
}

.feature-container p {
    color: var(--secondary-text);
    font-size: 17px;
}

.footer-container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer ul {
    list-style: none;
}

.footer {
    border-top: var(--border-color) 1px solid;
    background-color: var(--background-color);
    padding: 70px 0;
}

.footer-column {
    width: 25%;
    padding: 0 15px;
}

.footer-logo h1 {
    color: var(--primary-text);
    font-size: 25px;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 15px;
}

.footer-logo p {
    color: var(--secondary-text);
    font-size: 14px;
}

.footer-column h4 {
    font-size: 18px;
    color: var(--primary-text)fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-column h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--primary-text)fff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-column ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-column ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: var(--primary-text);
    text-decoration: none;
    font-weight: 300;
    color: var(--secondary-text);
    display: block;
    transition: 0.3s ease;
}

.footer-column ul li a:hover {
    color: var(--primary-text)fff;
    padding-left: 8px;
}

.footer-column .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: var(--button-hover);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--primary-text)fff;
    transition: 0.3s ease;
    border: 1px var(--button-hover) solid;
}

.footer-column .social-links a:hover {
    background: none;
    border: 1px var(--primary-text) solid;
    transition: 0.3s ease;
}

.navbar__burger {
    display: none;
    cursor: pointer;
    background: var(--black-color);
    border-radius: 8px;
    padding: 3px 9px;
    border: 1px var(--black-color) solid;
    transition: background-color 0.3s ease;
}

.navbar__burger:hover {
    background: none;
    border: 1px var(--primary-text) solid;
}

.logo-mobile {
    position: absolute;
    top: 15px;
    left: 15px;
}

.fullscreen__menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: var(--navbar-background);
    transition: background-color 0.5s ease;
}

.fullscreen__menu nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.fullscreen__menu ul {
    list-style: none;
}

.fullscreen__menu ul li {
    margin-bottom: 20px;
}

.fullscreen__menu ul li a {
    font-weight: 500;
    text-decoration: none;
    font-size: 20px;
}

.fullscreen__menu .close__button {
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: 30px;
    color: var(--primary-text);
    background: transparent;
    border: none;
    cursor: pointer;
}

.close__button>i {
    background: var(--primary-text);
    color: var(--black-color);
    ;
    border-radius: 8px;
    padding: 14px 8px;
    border: 1px var(--primary-text) solid;
    transition: background-color 0.3s ease;
}

.close__button>i:hover {
    background: none;
    border: 1px var(--black-color) solid;
}

.path-name h1 {
    font-weight: 500;
    text-transform: capitalize;
}

.lower-title {
    font-weight: 300;
    color: var(--secondary-text);
}

.path-name p {
    margin-top: 20px;
    font-size: 16px;
}

.path-introduction {
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: row;
    gap: 65px;
    margin: 0px 30px;
    padding-bottom: 75px;
}

.path-introduction.interns-introduction {
    flex-direction: column;
    gap: 35px;
}

#filter-button-container {
    display: flex;
    gap: 10px;
    margin: 15px 0px;
}

.filter-button {
    background: var(--background-color);
    border: 1px var(--border-color) solid;
    border-radius: 15px;
    padding: 8px 16px;
    margin: 2px;
    cursor: pointer;
    font-size: 14px;
}

.filter-active {
    background: #007bff;
    color: var(--primary-text);
    transition: background-color 0.3s ease, color 0.3s ease;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th,
td {
    border-bottom: 1px var(--border-color) solid;
    padding: 12px;
    text-align: left;
}

.data-name .flag {
    display: inline-block;
    width: 20px;
    max-height: 13px;
    margin: 0px 5px;
    border-radius: 5px;
}

.path-steps {
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 100%;
}

.path-information {
    display: flex;
    border-top: var(--border-color) 1px solid;
    padding: 30px 0px;
    margin: 0px 30px;
}

.path-information h1 {
    font-weight: 500;
    font-size: 25px;
}

.path-information a {
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: var(--link-color);
    flex-direction: column;
    display: flex;
    transition: color 0.3s ease;
}

.path-information a:hover {
    color: var(--primary-text);
}

.path-information span {
    font-size: 26px;
    font-weight: 500;
    margin: 0px 30px 0px 0px;
    color: var(--secondary-text);
}

.path-introduction img {
    height: 300px;
    border-radius: 15px;
}

.mypath-introduction img {
    height: auto;
    width: 100%;
    border-radius: 15px;
    cursor: zoom-in;
}

.path-container {
    padding: 150px 0px;
    display: flex;
    flex-direction: column;
    max-width: 755px;
    margin: 0 auto;
}

.data-container {
    padding: 150px 0px 15px 0px;
}

.line-spacer {
    width: 100%;
    height: 1px;
    background: var(--border-color);
    margin: 30px 0px;
}

.navbar__links li {
    position: relative;
}

.dropdown__menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    margin-top: 10px;
    background: var(--background-color);
    border: 1px var(--border-color) solid;
    border-radius: 15px;
}

.dropdown__menu.show {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    row-gap: 5px;
}

#moreButton {
    cursor: pointer;
}

#moreButton i {
    padding-left: 10px;
    transition: transform 0.3s ease;
}

#moreButton i.rotate-icon {
    transform: rotateX(180deg);
}

.rotate-icon {
    transform: rotateX(180deg);
}

.data-container {
    max-width: 1030px;
}

.navigation-button a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-text);
    gap: 10px;
    font-weight: 300;
}

.navigation-button a:hover {
    color: var(--link-color);
}

.data-name p,
.data-name li {
    font-weight: 500;
    color: var(--secondary-text);
}

.data-name ul {
    padding: 0px 0px 40px 50px;
}

.data-name img {
    margin: 35px 0px;
}

.paragraph-path p {
    margin-top: 0px;
    margin-bottom: 40px;
}

.path-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-text);
    margin-bottom: 40px;
}

.path-link::after {
    background: url(https://icons.iconarchive.com/icons/github/octicons/256/link-16-icon.png);
    background-size: 20px 20px;
    filter: invert(1);
    height: 20px;
    padding: 0px 10px;
    margin: 0 10px;
    content: "";
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.path-link:hover::after {
    opacity: 1;
}

.shark-1 .active-path-selection {
    border-left: 2px var(--primary-text) solid;
    color: var(--primary-text);
    transition: .3s ease;
}

.shark-1 {
    position: sticky;
    top: 150px;
    display: flex;
    font-size: 15px;
    font-weight: 300;
    flex-direction: column;
    color: var(--secondary-text);
}

.shark-1 p {
    margin-bottom: 10px;
}

.shark-1 i {
    margin-right: 5px;
}

.shark-1 a {
    font-size: 14px;
    border-left: 2px var(--border-color) solid;
    padding: 1px 10px;
    text-decoration: none;
    color: var(--secondary-text);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--background-color);
    cursor: zoom-out;
    animation: fade-in 0.3s ease-in-out forwards;
}

.modal-content {
    display: block;
    margin: auto;
    max-height: 80%;
    max-width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 25px;
    transform: translate(-50%, -50%);
    animation: fade-in 0.3s ease-in-out forwards;
}

.modal.fade-out {
    animation: fade-out 0.3s ease-in-out forwards;
}

.calendar-container {
    display: flex;
    align-items: center;
    max-width: 755px;
    margin: 0 auto;
    height: 100vh;
}

.calendar-fields h3,
.calendar-fields p {
    padding: 15px;
    font-weight: 500;
}

.calendar-fields p {
    font-size: 15px;
    font-weight: 300;
}

.calendar-fields {
    border-radius: 15px;
    position: relative;
    background: var(--background-color);
}

.title-calendar {
    display: flex;
    align-items: center;
    border: 1px var(--border-color) solid;
    border-width: 1px 1px 1px 1px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.title-calendar span {
    color: var(--secondary-text);
}

.title-calendar a {
    display: flex;
    padding: 0px 10px;
    cursor: not-allowed;
    color: rgb(59, 59, 59);
}

.content-calendar {
    border: 1px var(--border-color) solid;
    border-width: 0px 1px 1px 1px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
}

.calendar-information-bar::before {
    content: "";
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    border-radius: 15px;
    background: linear-gradient(160deg, var(--active-status-color) 0, rgba(27, 27, 56, 0.274) 100%);
    z-index: -1;
}

.title-field {
    background: linear-gradient(160deg, rgba(164, 64, 44, 0.11) 0, rgba(26, 26, 36, 0.274) 100%);
    border-radius: 15px 15px 0px 0px;
    display: flex;
    align-items: center;
}

.title-field i {
    padding: 15px 0px 15px 15px;
    color: var(--active-status-color);
}

.calendar-structure {
    width: 100%;
    row-gap: 25px;
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
}

.week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
}

.grid-day {
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: white;
    align-items: center;
    background: none;
    border: none;
}

.grid-day.active {
    border: 1px var(--active-status-color) solid;
    position: relative;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.nav-bar-side {
    display: flex;
    align-items: flex-start;
    white-space: nowrap;
}

.link-place {
    display: block;
    height: 92px;
    margin-top: -92px;
    visibility: hidden;
}

@media(max-width: 770px) {
    #filter-button-container {
        gap: 0px;
        display: flex;
        margin: 15px 0px;
        overflow-x: auto;
        white-space: nowrap;
    }



}

@media(max-width: 767px) {
    .footer-column {
        width: 50%;
        margin-bottom: 30px;
    }

    .modal-content {
        border-radius: 15px;
        max-height: 90%;
        max-width: 90%;
    }
}

@media(max-width: 615px) {
    .navigation-button {
        display: flex;
        flex-wrap: wrap;
    }

    .path-introduction {
        flex-direction: column;
    }

    .data-name .flag {
        border-radius: 3px;
    }

    .path-introduction img {
        max-width: 50%;
        height: auto;
        text-align: center;
        display: block;
        margin: auto;
    }

    .mypath-introduction img {
        max-width: 100%;
        margin: 35px 0px;
    }
}

@media(max-width: 888px) {
    .shark-1 {
        display: none;
    }
}

@media(max-width: 574px) {
    .footer-column {
        width: 100%;
    }

    .grid-day {
        height: 35px;
        width: 35px;
    }

    .calendar-fields p {
        font-size: 13px;
    }
}

@media(max-width : 1017px) {
    .slider {
        width: 800px;
    }
}

@media (max-width: 817px) {
    .slider {
        width: 500px;
    }

    .navbar__links,
    .contact__button {
        display: none;
    }

    .navbar__burger {
        display: block !important;
    }

    .header {
        padding: 15px 15px;
        justify-content: space-between;
    }
}

@media (max-width: 520px) {
    table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
        white-space: nowrap;
        display: block;
        overflow-x: auto;
    }

    th,
    td {
        border-bottom: 1px var(--border-color) solid;
        padding: 12px;
        text-align: left;
    }

    .slider {
        width: 300px;
    }

    .data-name .lower-title {
        font-size: 12px;
    }

    .data-name p,
    .data-name li {
        font-size: 12px;
    }

    .path-name h1 {
        font-size: 20px;
    }

    .mypath-introduction {
        gap: 25px;
    }

    .navigation-button a {
        font-size: 13px;
    }

    .path-information span {
        font-size: 20px;
    }

    .path-information h1 {
        font-size: 20px;
    }

    .path-information a {
        font-size: 15px;
    }

    .slider-overlay-image {
        height: 150px;
        width: 150px;
        filter: drop-shadow(0px 0px 35px rgba(255, 255, 255, 0.295));
    }

    .feature-container span {
        font-size: 13px;
    }

    .feature-container h1 {
        font-size: 23px;
    }

    .feature-container p {
        font-size: 12px;
    }

    .footer-column h4 {
        font-size: 15px;
    }

    .footer-column ul li a {
        font-size: 12px;
    }
}

@media (max-width: 410px) {

    .filter-button,
    th,
    td {
        font-size: 12px;
    }

    .path-name h1 {
        font-size: 15px;
    }

    .path-link::after {
        background-size: 19px 19px;
        height: 18px;
    }

    .grid-day {
        height: 30px;
        width: 30px;
    }

    .calendar-structure {
        margin: 0 30px;
    }

    .title-calendar span {
        font-size: 13px;
    }

    .calendar-fields h3 {
        font-size: 16px;
    }
}
